doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Final task

    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

    style(type='text/css').
      h1 { text-align: center; }
      textarea {width: 100%; height: 5em}
  body
   .container
      .row
        .col-md-12
          h2 Encode sample
      .row
        .col-md-4
          h2 Schema
          textarea#schema
        .col-md-8
          .row 
            .col-md-6
              h2 Object ->
              textarea#encode-object
            .col-md-6
              h2 Binary
              textarea#encode-binary(readonly)
            .col-md-12
              button#encode.btn.btn-lg.btn-primary.btn-block encode
          .row 
            .col-md-6
              h2 Binary ->
              textarea#decode-binary
            .col-md-6
              h2 Object
              textarea#decode-object(readonly)
            .col-md-12
              button#decode.btn.btn-lg.btn-primary.btn-block decode


    script(src='app.js')
