doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Tests
    link(href='https://code.jquery.com/qunit/qunit-1.23.1.css', rel='stylesheet')
  body
    #qunit
    #qunit-fixture

    script(src='https://code.jquery.com/qunit/qunit-1.23.1.js')
    script(src='tests.js')